EXPO_PUBLIC_SUPABASE_URL=https://jntpdgglqsjydtllutzy.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImpudHBkZ2dscXNqeWR0bGx1dHp5Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzU1NTY1NjQsImV4cCI6MjA5MTEzMjU2NH0.Ncy3zkbx8TlTQ2tgIMdYkj2zYAKeBvo9FrNTKmi4RVo
EXPO_PUBLIC_SUPABASE_BUCKET=apartment-images
